# Connecting with MySQL - Python

### Installing libraries

In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\deployment2\repository\venv\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in e:\deployment2\repository\venv\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pymysql

Requirement already satisfied: pymysql in e:\deployment2\repository\venv\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install sqlalchemy==1.3.9 ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in e:\deployment2\repository\venv\lib\site-packages (1.3.9)
Requirement already satisfied: ipython-sql in e:\deployment2\repository\venv\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in e:\deployment2\repository\venv\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in e:\deployment2\repository\venv\lib\site-packages (from ipython-sql) (8.14.0)
Requirement already satisfied: sqlparse in e:\deployment2\repository\venv\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in e:\deployment2\repository\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in e:\deployment2\repository\venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in e:\deployment2\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in e:\deployment2\repository\venv\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in e:\deployment2\repository\venv\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=1.0->ipython-sql) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in e:\deployment2\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in e:\deployment2\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in e:\deployment2\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

### Importing mysql

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Secure@1994"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A8C865EE00>

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute('CREATE DATABASE IF NOT EXISTS Example;')

In [7]:
cursor.execute("USE Example;")

In [8]:
cursor.execute("""
                CREATE TABLE if not exists emp(
                    id int primary key,
                    fname varchar(50) not null,
                    lname varchar(50) not null,
                    email varchar(100) not null unique
                );
""")

### New Database

In [9]:
cursor.execute("CREATE DATABASE IF NOT EXISTS ETL1;")

In [10]:
cursor.execute("use ETL1;")

In [11]:
query = """
        CREATE TABLE if not exists emp(
            id int primary key,
            fname varchar(50) not null,
            lname varchar(50) not null,
            email varchar(100) not null unique,
            sal decimal(10,2) not null check(sal>0) 
        );
        """
cursor.execute(query)

In [12]:
cursor.execute("SHOW tables;")

In [13]:
for i in cursor:
    print(i)

('emp',)

In [14]:
query = """
        INSERT INTO emp
        values (1,'Utkarsh','Gaikwad','utkarsh@gmail.com',20000),
               (2,'Aditi','Sharma','aditi@gmail.com',35000);
        """
cursor.execute(query)

In [15]:
query = """
        SELECT * FROM emp;
        """
cursor.execute(query)
for i in cursor:
    print(i)

(1, 'Utkarsh', 'Gaikwad', 'utkarsh@gmail.com', Decimal('20000.00'))
(2, 'Aditi', 'Sharma', 'aditi@gmail.com', Decimal('35000.00'))

In [16]:
mydb.commit()

In [17]:
mydb.close()